body {
  color: black; /* Сделать все текстовые элементы черными */
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}